<!DOCTYPE html>
<html>
<head>
    <title>Order List</title>
</head>
<body>
    <h1>Order List</h1>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Order Name</th>
            <th>Username</th>
            <th>Status</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.orderID }}</td>
            <td>{{ order.orderName }}</td>
            <td>{{ order.username }}</td>
            <td>{{ order.status }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
